.container {
  min-height: 100vh;
  padding: 17px;
  position: relative;
  z-index: 2;
}

header {
  display: grid;
  grid-template-areas: "logo curriculum";
  grid-template-columns: 1fr 150px;
  grid-template-rows: 1fr;
  padding: 16px;
}

header .logo {
  grid-area: logo;
}

.logo span {
  color: var(--poppins-font);
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 39px;
  color: var(--black);
}

header .menu {
  grid-area: menu;
  display: none;
}

header .menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

header .menu ul li {
  display: inline-block;
  margin-right: 40px;
}

header .menu ul li:last-child {
  margin-right: 0px;
}

header .menu ul li a {
  color: var(--black);
  opacity: 0.5;
  text-transform: uppercase;
}

header .menu ul li.active a {
  opacity: 1;
}

header .curriculum {
  grid-area: curriculum;
}

.about-me {
  display: grid;
  grid-template-areas: "me"
                       "about";
  grid-template-columns: 1fr;
  padding-bottom: 40px;
}

.about-me .about {
  grid-area: about;
}

.about-me .me {
  grid-area: me;
}

.about-me .me figure{
  width: 100%;
  padding: 0;
  margin: 0;
}

.about-me .me figure img {
  width: 100%;
}

.about-me .about .title, .about-me .about .subtitle {
  margin: 0;
}

.about-me .about .summary {
  margin: 16px 0;
}

.social-networks {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  padding: 0;
  margin: 16px 0;
}

.social-networks li a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  background: var(--btn-primary);
  border: 2px solid #0F0A0A;
  box-sizing: border-box;
  border-radius: 4px; 
}

.social-networks li a img {
  width: 24px;
  height: 24px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.social-networks li {
  margin: 0 8px;
}

.social-networks li:first-child {
  margin: 0 8px 0 0;
}

.projects {
  padding-top: 40px;
}

.projects .projects-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projects .projects-header .title {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 39px;
  text-align: center;
  letter-spacing: 0.005em;
  color: var(--black);
  margin: 0;
}

.projects .projects-header .subtitle {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 39px;
  text-align: center;
  color: var(--black);
  padding: 24px 0;
}

.projects .projects-header .pointer {
  width: 80px;
  height: 80px;
}

.projects .projects-list {
  margin-top: 80px;
}

.projects .projects-list .project {
  margin: 0 0 80px 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas: "picture"
                       "summary"
                       "comment";
}

.projects .projects-list .project > .picture {
  grid-area: picture;
  margin: 0;
  padding: 0;
  width: 100%;
  max-height: 536px;
  display: flex;
  justify-content: center;
}

.projects .projects-list .project > .picture img {
  height: 100%;
  max-width: 100%;
}

.projects .projects-list .project .summary {
  grid-area: summary;
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

.projects .projects-list .project .summary .name {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 4px 8px;
  background: var(--black);
  box-shadow: -4px 4px 0px #FFFFFF;
  margin-bottom: 16px;
  width: fit-content;
}

.projects .projects-list .project .summary .name > * {
  color: var(--primary);
  margin: 0;
}

.projects .projects-list .project .summary .description {
  color: var(--black);
  margin: 0px;
}

.projects .projects-list .project .buttons {
  display: flex;
  flex-direction: column;
  padding-top: 24px;
}

.projects .projects-list .project .buttons > * {
  margin-bottom: 16px;
  padding: 13px 24px;
}

.projects .projects-list .project .comment {
  grid-area: comment;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 24px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(39.7657px);
  border-radius: 24px;
  margin-top: 80px;
}

.projects .projects-list .project .comment > * {
  margin-bottom: 24px;
}

.projects .projects-list .project .comment .picture{
  width: 64px;
  height: 64px;
}

.projects .projects-list .project .comment .content {
  margin: 0;
  font-weight: bold;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.005em;
  color: var(--black);
}

.projects .projects-list .project .comment .author {
  font-size: 12px;
  line-height: 19px;
  letter-spacing: 0.4px;
  color: var(--black);
  opacity: 0.5;
}

.contact {
  display: flex;
  flex-direction: column;
  margin: 120px 0 0 0;
}

.contact header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}

.contact header .title {
  padding: 4px 8px;
  background: var(--black);
  box-shadow: -4px 4px 0px #ffffff;
  margin-bottom: 16px;
  color: var(--primary);
  text-transform: uppercase;
  width: fit-content;
}

.contact header > * {
  margin: 0 0 16px 0;
}

.contact form fieldset {
  margin: 0 0 16px 0;
  padding: 0;
  border: none;
  display: flex;
  flex-direction: column;
}

.contact form fieldset label {
  padding: 0px 16px;
  font-weight: bold;
  opacity: 0.8;
  margin: 0;
}

.contact form fieldset label .required {
  color: var(--red);
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 20px;
  opacity: 0.8;
  margin: 0;
  font-family: var(--source-sans-pro-font);
}

.contact form fieldset .input {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding: 12px 16px;
  background: var(--white);
  border: 1px solid #858C94;
  box-sizing: border-box;
  border-radius: 8px;
  margin: 8px 0 0 0;
}

.contact form button {
  padding: 13px 24px;
  width: 100%;
}

footer {
  margin: 0;
  padding: 80px 0 24px 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas: "networks"
                       "love"
                       "copyright";
  text-align: center;
}

footer > p {
  padding: 0;
  margin: 4px 0;
}

footer .social-networks {
  grid-area: networks;
  justify-content: center;
  margin-bottom: 24px;
}

footer .love {
  grid-area: love;
  display: flex;
  justify-content: center;
  color: var(--black);
}

footer .love .heart {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  height: 24px;
  width: 24px;
}

footer .copyright {
  grid-area: copyright;
  color: var(--black);
}

footer .logo {
  grid-area: logo-footer;
  display: none;
}

.mask {
  display: none;
}

@media (min-width: 768px){
  .container {
    padding: 0 117px;
  }
  
  header {
    grid-template-areas: "logo menu curriculum";
    grid-template-columns: 1fr 1fr 250px;
    padding: 32px 11px;
  }

  header .menu {
    display: flex;
    align-items: flex-end;
  }

  .about-me {
    display: grid;
    grid-template-areas: "about me";
    grid-template-columns: 1fr 1fr;
    margin-top: 38px;
  }

  .about-me .about .summary {
    padding-right: 90px;
  }

  .about-me .me figure img {
    margin-top: -64px;
  }

  .projects {
    padding-top: 160px;
  }

  .projects .projects-header .title {
    font-weight: 300;
    font-size: 34px;
    line-height: 55px;
  }

  .projects .projects-list {
    margin-top: 200px;
  }

  .projects .projects-list .project {
    grid-template-columns: 1fr 1fr;
    margin: 0 0 160px 0;
  }

  .projects .projects-list .project:nth-child(odd) {
    grid-template-areas: "summary picture"
                         "comment comment";
  }

  .projects .projects-list .project:nth-child(odd) .picture {
    justify-content: flex-start;
  }

  .projects .projects-list .project:nth-child(even) {
    grid-template-areas: "picture summary"
                         "comment comment";
  }

  .projects .projects-list .project:nth-child(even) .picture {
    justify-content: flex-end;
  }

  .projects .projects-list .project .summary {
    justify-content: center;
  }

  .projects .projects-list .project .buttons {
    flex-direction: row-reverse;
    justify-content: flex-end;
  }

  .projects .projects-list .project .buttons > * {
    margin: 0 16px 0 0;
  }

  .projects .projects-list .project .comment {
    padding: 80px;
    margin-top: 160px;
  }

  .contact {
    width: 534px;
    margin: 0 auto;
    margin-top: 160px;
  }

  .contact header {
    text-align: center;
    align-items: center;
  }

  .contact header .title { 
    width: 100%;
  }

  .contact header form {
    margin-top: 8px;
  }

  footer {
    grid-template-columns: 1fr 170px 350px 1fr;
    grid-template-areas:  "logo-footer love copyright networks";
    text-align: left;
    align-items: center;
    padding: 160px 0 40px 0;
  }

  footer .social-networks {
    margin: 0;
  }

  footer .logo {
    grid-area: logo-footer;
    display: block;
  }

  .mask {
    position: absolute;
    display: block;
    z-index: 1;
    width: 400px;
    height: 400px;
    background: radial-gradient(155% 155% at 50% 50%, rgba(40, 234, 232, 0.4) 0%, rgba(40, 234, 232, 0) 28.86%);
    backdrop-filter: blur(199px);
  }

  .mask.mask1 {
    left: -180px;
    top: 68px;
  }

  .mask.mask2 {
    left: 377px;
    top: 604px;
  }

  .mask.mask3 {
    left: 0px;
    top: 1584px;
  }

  .mask.mask4 {
    left: 966px;
    top: 2300px;
  }

  .mask.mask5 {
    left: -35px;
    top: 4735px;
  }
}